name: Build Android APK

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - uses: android-actions/setup-android@v3

      - name: Install Bubblewrap
        run: npm install -g @bubblewrap/cli

      - name: Init Bubblewrap (FORCED NON-INTERACTIVE)
        run: |
          printf "n\n$JAVA_HOME\n" | bubblewrap init \
            --manifest=https://shaqohubguuleed.vercel.app/manifest.json

      - name: Build APK
        run: bubblewrap build
